/* .inventario-page-container {
    margin: 0 auto !important;
}

.inventario-list-wrapper {
    max-width: 100%;
    margin: 20px auto 40px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.stock-low {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 4px;
}

.stock-normal {
    background-color: #d4edda;
    color: #155724;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 4px;
}

.btn-agregar-producto {
    background-color: #28a745;
    color: white;
    border: none;
} */